@model WebApplication1.DAL.Entities.About

@{
    ViewData["Title"] = "Update About";
    Layout = "~/Views/Layout/Index.cshtml"; 
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Hakkında</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Hakkında Güncelleme</div>
                    </div>
                    <div class="card-body">
                        
                        <form method="post" action="/About/UpdateAbout">
                            <input type="hidden" name="AboutID" value="@Model.AboutId" />
                            <div class="form-group">
                                <label for="Title">Ana Başlık</label>
                                <input type="text" name="Title" value="@Model.Title" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="Description">Açıklama</label>
                                <input type="text" name="Description" value="@Model.Description" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="SubTitle1">1. Başlık</label>
                                <input type="text" name="SubTitle1" value="@Model.SubTitle1" class="form-control" placeholder="Nakit Ödeme"/>
                            </div>

                            <div class="form-group">
                                <label for="SubTitleDescription1">1. Açıklama</label>
                                <input type="text" name="SubTitleDescription1" value="@Model.SubTitleDescription1" class="form-control" placeholder="Anında Nakit ödeme" />
                            </div>

                            <div class="form-group">
                                <label for="SubTitle2">2. Başlık</label>
                                <input type="text" name="SubTitle2" value="@Model.SubTitle2" class="form-control" placeholder="İletişim" />
                            </div>
                            <div class="form-group">
                                <label for="SubTitleDescription2">2. Açıklama</label>
                                <input type="text" name="SubTitleDescription2" value="@Model.SubTitleDescription2" class="form-control" placeholder="Anında İletişim" />
                            </div>
                            <div class="form-group">
                                <label for="SubTitle3">3. Başlık</label>
                                <input type="text" name="SubTitle3" value="@Model.SubTitle3" class="form-control" placeholder="Ucuz"/>
                            </div>
                            <div class="form-group">
                                <label for="SubTitleDescription3">3. Açıklama</label>
                                <input type="text" name="SubTitleDescription3" value="@Model.SubTitleDescription3" class="form-control" placeholder="Değerinde hurda alma" />
                            </div>
                            <div class="form-group">
                                <label for="SubTitle4">4. Başlık</label>
                                <input type="text" name="SubTitle4" value="@Model.SubTitle4" class="form-control" placeholder="Hız" />
                            </div>
                            <div class="form-group">
                                <label for="SubTitleDescription4">4. Açıklama</label>
                                <input type="text" name="SubTitleDescription4" value="@Model.SubTitleDescription4" class="form-control" placeholder="Hızlı işlem" />
                            </div>
                            <div class="form-group">
                                <label for="Url">Resim Linki</label>
                                <input type="text" name="Url" value="@Model.Url" class="form-control" />
                            </div>

                        </form>

                        <div class="form-group">
                            <button id="updateAboutAjax" class="btn btn-info mt-3">Hakkında Bilgisini Güncelle</button>
                            <div id="ajaxResponseMessage" class="mt-2" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#updateAboutAjax').click(function () {
            var aboutData = {
                Title: $('[name="Title"]').val(),
                Description: $('[name="Description"]').val(),
                SubTitle1: $('[name="SubTitle1"]').val(),
                SubTitle2: $('[name="SubTitle2"]').val(),
                SubTitle3: $('[name="SubTitle3"]').val(),
                SubTitle4: $('[name="SubTitle4"]').val(),
                SubTitleDescription1: $('[name="SubTitleDescription1"]').val(),
                SubTitleDescription2: $('[name="SubTitleDescription2"]').val(),
                SubTitleDescription3: $('[name="SubTitleDescription3"]').val(),
                SubTitleDescription4: $('[name="SubTitleDescription4"]').val(),
                Url: $('[name="Url"]').val()
            };

            $.ajax({
                url: '/About/UpdateAboutAjax/',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(aboutData),
                success: function (response) {
                    var messageDiv = $('#ajaxResponseMessage');
                    messageDiv.show().removeClass('text-danger text-success')
                        .addClass(response.success ? 'text-success' : 'text-danger')
                        .text(response.message);
                },
                error: function () {
                    $('#ajaxResponseMessage').show().removeClass('text-success').addClass('text-danger').text("An error occurred.");
                }
            });
        });
    });
</script>
